.img {
  width: 100%;
  height: auto;
}
.img-box {
  max-width: 200px;
  height: 240px;
  overflow: hidden;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  box-sizing: border-box;

  transition: transform 300ms;
  /* margin: auto; */
}
.product-grid {
  padding: 3em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 2rem;
  row-gap: 2rem;
}
.box {
  padding: 10px;
  border-radius: 10px;
  max-width: 200px;
}
.img-box:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.507);
}
.main-page {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.no-items{
    text-align: center;
    color: rgba(0, 0, 0, 0.63);
    padding-top:20% ;
}
.description{
  display: flex;
  font-size: medium;
  justify-content: space-between;
  color: gray;
}

  
  
  .addbtn {
    margin-top: 5px;

     padding: 0px 12px;
     text-align: center;
     /* text-transform: uppercase; */
     transition: 0.5s;
     background-size: 200% auto;
     color: rgb(0, 0, 0);            
     /* box-shadow: 0 0px 5px rgb(97, 96, 96); */
     border-radius: 10px;
     border: 1px solid gray;
     background-color: white;
    
    
   }

   .addbtn:hover {
     background-position: right center; /* change the direction of the change here */
     color: #fff;
     text-decoration: none;
     background-image: linear-gradient(to right, #9D50BB 0%, #6E48AA  51%, #9D50BB  100%);
     cursor:pointer;
     border:none;
   }
   
   .removebtn {}
   .removebtn {
      margin-top: 5px;
      padding: 10px 10px;
      text-align: center;
      /* text-transform: uppercase; */
      transition: 0.5s;
      background-size: 200% auto;
      color: rgb(3, 3, 3);            
      /* box-shadow: 0 0px 5px rgb(97, 96, 96); */
      border-radius: 10px;
      border: 1px solid gray;
      background-color: white;
      
     
    }

    .removebtn:hover {
      background-position: right center; /* change the direction of the change here */
      color: #fff;
      text-decoration: none;
      background-image: linear-gradient(to right, #DC2424 0%, #4A569D  51%, #DC2424  100%);
      cursor:pointer;
      border:none;
    }
   .Cartbtn{
     display: flex;
     justify-content: space-between;
   }
  
